/* generic styles for making dev nicer */
body{
  font-family:Helvetica Neue, sans-serif;
  color:#333;
}
h1,h2,h3,h4,h5,h6{
  color: #f08;
  font-weight: 200;
}
a{
  color: #08f;
  text-decoration: none;
}
.media-error{
  background-color:#fc0;
}